<h1>Customer List
    <button class="btn btn-success btn-circle pull-right" 
            (click)="add()"     
            title="Add Customer">
      <i class="glyphicon glyphicon-plus"></i>
    </button>
  </h1>
  
  <div class="alert-danger">{{errorMessage}}</div>
  
  <div class="container">
      <div class="row">
        <div class="col-sm">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.city}}</td>
              <td>{{user.phone}}</td>
              <td style="width: 70px;">
    
                     <button type="button" class="btn btn-default btn-sm" style="margin-bottom:5px;" (click)="edit(user.id)">Edit 
                     </button>
                  <i class="glyphicon glyphicon-trash pointer"    
                      (click)="delete(user.id)" title="Delete"></i>
                      <button type="button" class="btn btn-success btn-sm" style="margin-bottom:5px;" (click)="delete(user.id)">Delete 
                        </button>
                  <i class="glyphicon glyphicon-user pointer" 
                      (click)="image(user.id)" title="Image"></i>
                      <button type="button" class="btn btn-danger btn-sm" (click)="image(user.id)">Image 
                        </button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
</div>
</div>